include LICENSE README.md requirements.txt run addalias.sh
include *.py
recursive-include armoury/data/cheats *
recursive-include img *
recursive-exclude .obsidian *
recursive-exclude mindmap *
recursive-exclude my_cheats *
recursive-exclude cheats/.obsidian *
recursive-exclude armoury.egg-info *
recursive-exclude armoury_cli.egg-info *

